div {
	display: inline;
	padding: 14.5px 19px;
	background-color: red;
	color: white;
	border: 2px solid black;
	border-collapse: collapse;
}
.child {
	display: block;
	margin: 0;
	padding: 15px 10px;
	box-sizing: border-box;
	text-align: center;
}
.dice {
	float: left;
	width: 20%;
}
.buttons {padding: 20px;}